<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <!-- build:css -->
    <link href="/static/lib/kitadmin/css/layui.css" rel="stylesheet" th:href="@{/lib/kitadmin/css/layui.css}">
    <link href="/static/lib/kitadmin/css/theme/default.css" id="theme"
          rel="stylesheet" th:href="@{/lib/kitadmin/css/theme/default.css}">
    <link href="/static/lib/kitadmin/css/nprogress.css" rel="stylesheet" th:href="@{/lib/kitadmin/css/nprogress.css}">
    <!-- endbuild -->
    <style>
        .eleTree {
            width: 350px;
            height: 500px;
            border: 1px solid #ccc;
            overflow: hidden;
            display: inline-block;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="layui-form" lay-filter="form-job" th:object="${job}">
        <input id="jobId" name="jobId" th:field="*{jobId}" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">任务名称：</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="jobName" placeholder="" th:field="*{jobName}"
                       type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务组名：</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="jobGroup" placeholder="" th:field="*{jobGroup}"
                       type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务方法：</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="methodName" placeholder="" th:field="*{methodName}"
                       type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方法参数：</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="methodParams" placeholder=""
                       th:field="*{methodParams}"
                       type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">cron执行表达式：</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="cronExpression" placeholder=""
                       th:field="*{cronExpression}"
                       type="text"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">错误策略：</label>
            <div class="layui-input-block">
                <input name="misfirePolicy" th:field="*{misfirePolicy}" title="立即执行" type="radio" value="1"/>
                <input name="misfirePolicy" th:field="*{misfirePolicy}" title="执行一次" type="radio" value="2"/>
                <input name="misfirePolicy" th:field="*{misfirePolicy}" title="放弃执行" type="radio" value="3"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <span th:each="dict : ${@dict.getType('sys_job_status')}">
                    <input name="status" th:field="*{status}" th:id="${dict.dictCode}" th:title="${dict.dictLabel}"
                           th:value="${dict.dictValue}" type="radio"/>
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注信息：</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark" rows="3" th:field="*{remark}"
                          type="text"></textarea>
            </div>
        </div>
        <button class="layui-btn" id="btn-add" lay-filter="btn-add" lay-submit style="display:none">test</button>
    </form>
</div>
<script src="../static/lib/kitadmin/polyfill.min.js" th:src="@{/lib/kitadmin/polyfill.min.js}"></script>
<script src="../static/lib/kitadmin/layui.js" th:src="@{/lib/kitadmin/layui.js}"></script>
<script src="../static/lib/kitadmin/kitadmin.js" th:src="@{/lib/kitadmin/kitadmin.js}"></script>

<script th:inline="javascript">
    var ctx = [[@{
        /}]];
        var editFlag = [[${@permission.hasPermi('system:job:edit')}]];
        var prefix = ctx + "monitor/job";

</script>
<script>
    layui.config({
        base: '/js/admin/job/'
    }).use(['add'], function () {
        var add = layui.add;
        var _id = document.getElementById("jobId").value;
        add.init({
            "prefix": prefix,
            "editFlag": editFlag,
            "id": _id
        });
    });

</script>
</body>
</html>